<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="bg-dark text-white" style="height: 100dvh;">

  <header class="text-center py-4 bg-secondary mt-5">
    <h1 class="display-4 fw-bold">Welcome to My Website</h1>
    <p class="lead">Exploring the world of web development</p>
  </header>

  <section class="container my-5 pt-5">
    <div class="row align-items-center d-flex justify-content-evenly">
      <div class="col-md-6">
        <h2 class="fw-bold">#Quote</h2>
        <p class="fs-5">
          No matter how good you are at playing chess, at some point you made a mistake.
          This is not about chess.
        </p>
      </div>
      <div class="profile col-md-6 text-center border border-1 border-secondary rounded-3"></div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-3 fixed-bottom">
    <p class="mb-0">© 2025 My Website. All rights reserved.</p>
  </footer>
</body>
</html>
