
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.profile {
    width: 15rem;
    height: 15rem;
    background-image: url('anji.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  footer {
    padding: 20px;
    margin-top: 0dvh;
  }